#info{
width: 400px;
height: auto;

    
 position: absolute;
    top: 250px;
    
    left: 400px;

    margin: auto;
    
    font-family: serif;
    font-style:oblique
font-family:raleway;
border:3px #01A9DB;
 font-family:raleway;   
padding:10px 40px 25px;

-moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;  
    border-radius: 7px;
}

#logo{
    position: absolute;
   top: 130px;
    left: 420px;

}